@import "_bootstrap";
// @import 'bootstrap-custom';
body{
  background-color:#343A40;
  // border: solid red;
  border-width:.5px;
  padding:1em;
  font-family:serif;
  padding-top:5%;
}
.parent{
  border: solid black;
  border-width:.5px;
  border-width:.5px;
  padding:8em;
  justify-content: center;
  margin-top:1em;
  margin-bottom:1em;
  background-color:#343A40;
  // background-image: url('https://media.giphy.com/media/3oEduY9vzp0VSk0xQA/giphy.gif');
  background-size: cover;
  width:100%;
}
.parent_also{
  border: solid black;
  border-width:.5px;
  padding:.5em;
  background:beige;
  width:100%;
  text-align:center;
  color:green;
  border-radius:10px;

  margin-top:2em;
}
.child_main{
  border: solid green;
  border-width:.5px;
  margin: 5%;
  padding:.3em;
  height:22em;
  width:100%;

}

.parent_main{
  border:solid orange;
  border-width:.5px;
  padding:1em;
  display:flex;
  justify-content: space-around;
}
.superContainer{
  border: solid red;
  border-width:.5px;
  padding:1em;
  width:100%;

}
.logo{
border:solid black;
}
.navbar{
  width:100%;
}
.stretcher{
  margin-right:40%;
}
.mainFlex{
  width:100%;
  height:15%;
  border: solid blue;
  position:fixed;
}
#button{
  height:80px;
}

.video{
  border:solid black;
  border-width:.5px;
  // width:50%;
}
.masterContainer{
  padding:15pc;
  border:solid black;
  border-width:.5px;
}
.vid_element{
  border: solid black;
  border-width:.5px;
  padding:5px;
  // margin-left:30%;
  height:100%;
  width:100%;
}
#body_title{
  // border:solid black;
  border-width:.5px;
  padding: 3%;
  text-align: center;
  width:100%;
  margin-top:2%;
}
.media_one{
  border-radius:12px;
}
.inner_title{
  border:solid green;
  border-radius:10px;
  margin:5px;
  padding:2%;
  width:100%;
  background-color:#343A40;
  color:beige;
}
.new_thing{
//  width:100%;
 padding:0%;
 height:89px;
 justify-content: center; 
width:120px;
}
#nav_child{
  margin-left:12%;
}
.waist_trainer{
  // border:solid yellow;
  padding:2%;
}