<div class="cal_parent" style="border:solid blue;" >
  <div class="cal_child" style="border:solid purple;" >
    
<div class="cal_kids">1</div>
<div class="cal_kids">2</div>
<div class="cal_kids">3</div>
<div class="cal_kids">4</div>
<div class="cal_kids">5</div>
<div class="cal_kids">6</div>
<div class="cal_kids">7</div>
<div class="cal_kids">8</div>
<div class="cal_kids">9</div>
<div class="cal_kids">10</div>

<br><br>

<div class="cal_kids">11</div>
<div class="cal_kids">12</div>
<div class="cal_kids">13</div>
<div class="cal_kids">14</div>
<div class="cal_kids">15</div>
<div class="cal_kids">16</div>
<div class="cal_kids">17</div>
<div class="cal_kids">18</div>
<div class="cal_kids">19</div>
<div class="cal_kids">20</div>
<br><br>

<div class="cal_kids">21</div>
<div class="cal_kids">22</div>
<div class="cal_kids">23</div>
<div class="cal_kids">24</div>
<div class="cal_kids">25</div>
<div class="cal_kids">26</div>
<div class="cal_kids">27</div>
<div class="cal_kids">28</div>
<div class="cal_kids">29</div>
<div class="cal_kids">30</div>
  
  
  </div>
</div>