<div class="superContainer">
  <div class="parent_main">
    <div class="child_main"> 
     <%= render 'formLogin' %>
     
     </div>

    <div class="child_main">
      
<%= render 'formRegister' %>

    </div>
  </div>
</div>